In [1]:
import os
import pandas as pd

folder_path = r'C:/Users/GnTRnD/Desktop/temp_file/k-city_testset/set_17/labels'

# Create an empty dataframe to store the results
columns = ['filename', '_01', '_01_conf', '_04', '_04_conf', '_05', '_05_conf', '_06', '_06_conf', '_03', '_03_conf']
df = pd.DataFrame(columns=columns)
    
for filename in os.listdir(folder_path):
    if filename.endswith('.txt'):
        try:
            # Extract the file information
            file_data = {}
            with open(os.path.join(folder_path, filename), 'r') as file:
                for line in file:
                    values = line.split()
                    class_number = int(values[0])
                    confidence = float(values[5])
                    file_data[class_number] = (confidence, )

            # Get the class with the highest confidence value for each group
            _01_values = [(file_data.get(c, (0, None))[0], c) for c in [2, 3, 8]]
            _04_values = [(file_data.get(c, (0, None))[0], c) for c in [4, 5, 9]]
            _05_values = [(file_data.get(c, (0, None))[0], c) for c in [6, 7]]
            _03_values = [(file_data.get(c, (0, None))[0], c) for c in [10]]
            _06_values = [(file_data.get(c, (0, None))[0], c) for c in [11]]
            
            max_01 = max(_01_values)[1] if max(_01_values)[0] != 0 else ''
            max_04 = max(_04_values)[1] if max(_04_values)[0] != 0 else ''
            max_05 = max(_05_values)[1] if max(_05_values)[0] != 0 else ''
            max_03 = max(_03_values)[1] if max(_03_values)[0] != 0 else ''
            max_06 = max(_06_values)[1]if max(_06_values)[0] != 0 else ''
            
            max_01_conf = max(_01_values)[0] if max(_01_values)[0] != 0 else ''
            max_04_conf = max(_04_values)[0] if max(_04_values)[0] != 0 else ''
            max_05_conf = max(_05_values)[0] if max(_05_values)[0] != 0 else ''
            max_03_conf = max(_03_values)[0] if max(_03_values)[0] != 0 else ''
            max_06_conf = max(_06_values)[0] if max(_06_values)[0] != 0 else ''
            
            
            # Create a row for the dataframe
            row = [filename, max_01, max_01_conf, max_04, max_04_conf, max_05, max_05_conf, max_06, max_06_conf, max_03, max_03_conf]
            df = df.append(pd.DataFrame([row], columns=columns), ignore_index=True)
            
    
        except PermissionError:
            print(f"Permission denied: {filename}")
    
    
    # Replace values in the dataframe
    replace_map = {2: 'X', 3: 'O', 4: 'X', 5: 'O', 6: 'X',7: 'O', 8: 'emp', 9: 'emp', 10: 'p3', 11:'p6'}
    df.replace(replace_map, inplace=True)

In [2]:
df

,filename,_01,_01_conf,_04,_04_conf,_05,_05_conf,_06,_06_conf,_03,_03_conf
0,kc_230409_193109_l_0.txt,O,0.960986,O,0.915294,,,,,,
1,kc_230409_193109_l_1.txt,O,0.950429,O,0.940848,,,,,,
2,kc_230409_193109_l_2.txt,O,0.897146,O,0.934507,,,,,,
3,kc_230409_193109_r_0.txt,emp,0.954538,emp,0.928852,,,,,,
4,kc_230409_193109_r_1.txt,emp,0.944037,emp,0.953465,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
187,kc_230409_195859_l_1.txt,X,0.935033,X,0.93619,X,0.825923,,,,
188,kc_230409_195859_l_2.txt,,,X,0.920295,,,,,,
189,kc_230409_195859_r_0.txt,X,0.949017,X,0.693429,,,,,,
190,kc_230409_195859_r_1.txt,X,0.944367,X,0.9423,X,0.833621,,,,
191,kc_230409_195859_r_2.txt,,,X,0.939865,X,0.808934,,,,

In [3]:
import os
import pandas as pd

columns = ['filename',
           '01_l', '01_l_conf', '01_r', '01_r_conf',
           '04_l', '04_l_conf', '04_r', '04_r_conf',
           '05_l', '05_l_conf', '05_r', '05_r_conf',
           '06_l', '06_l_conf', '06_r', '06_r_conf',
           '03_l', '03_l_conf', '03_r', '03_r_conf'
          ] 
df_lr = pd.DataFrame(columns = columns)

for i in range(0, len(df), 6):
    row1 = df.iloc[i]
    row2 = df.iloc[i+1]
    row3 = df.iloc[i+2]
    row4 = df.iloc[i+3]
    row5 = df.iloc[i+4]
    row6 = df.iloc[i+5]
        
    df_lr_row1 = {
        'filename' : row1['filename'].split('_')[1] + '_' + row1['filename'].split('_')[2],
        '01_l' : row1['_01'],
        '01_l_conf' : row1['_01_conf'],
        '01_r' : row4['_01'],
        '01_r_conf' : row4['_01_conf'],
        '04_l' : row1['_04'],
        '04_l_conf' : row1['_04_conf'],
        '04_r' : row4['_04'],
        '04_r_conf' : row4['_04_conf'],
        '05_l' : row1['_05'],
        '05_l_conf' : row1['_05_conf'],
        '05_r' : row4['_05'],
        '05_r_conf' : row4['_05_conf'],
        '06_l' : row1['_06'],
        '06_l_conf' : row1['_06_conf'],
        '06_r' : row4['_06'],
        '06_r_conf' : row4['_06_conf'],
        '03_l' : row1['_03'],
        '03_l_conf' : row1['_03_conf'],
        '03_r' : row4['_03'],
        '03_r_conf' : row4['_03_conf']
    }

    df_lr_row2 = {
        '01_l' : row2['_01'],
        '01_l_conf' : row2['_01_conf'],
        '01_r' : row5['_01'],
        '01_r_conf' : row5['_01_conf'],
        '04_l' : row2['_04'],
        '04_l_conf' : row2['_04_conf'],
        '04_r' : row5['_04'],
        '04_r_conf' : row5['_04_conf'],
        '05_l' : row2['_05'],
        '05_l_conf' : row2['_05_conf'],
        '05_r' : row5['_05'],
        '05_r_conf' : row5['_05_conf'],
        '06_l' : row2['_06'],
        '06_l_conf' : row2['_06_conf'],
        '06_r' : row5['_06'],
        '06_r_conf' : row5['_06_conf'],
        '03_l' : row2['_03'],
        '03_l_conf' : row2['_03_conf'],
        '03_r' : row5['_03'],
        '03_r_conf' : row5['_03_conf']
    }

    df_lr_row3 = {
        '01_l' : row3['_01'],
        '01_l_conf' : row3['_01_conf'],
        '01_r' : row6['_01'],
        '01_r_conf' : row6['_01_conf'],
        '04_l' : row3['_04'],
        '04_l_conf' : row3['_04_conf'],
        '04_r' : row6['_04'],
        '04_r_conf' : row6['_04_conf'],
        '05_l' : row3['_05'],
        '05_l_conf' : row3['_05_conf'],
        '05_r' : row6['_05'],
        '05_r_conf' : row6['_05_conf'],
        '06_l' : row3['_06'],
        '06_l_conf' : row3['_06_conf'],
        '06_r' : row6['_06'],
        '06_r_conf' : row6['_06_conf'],
        '03_l' : row3['_03'],
        '03_l_conf' : row3['_03_conf'],
        '03_r' : row6['_03'],
        '03_r_conf' : row6['_03_conf']
    }
    
    df_lr = df_lr.append([df_lr_row1, df_lr_row2, df_lr_row3], ignore_index=True)

In [123]:
df_lr

,filename,01_l,01_l_conf,01_r,01_r_conf,04_l,04_l_conf,04_r,04_r_conf,05_l,...,06_l,06_l_conf,06_r,06_r_conf,03_l,03_l_conf,03_r,03_r_conf,detect1,detect2
0,230409_193109,O,0.960986,emp,0.954538,O,0.915294,emp,0.928852,,...,,,,,,,,,,
1,NaN,O,0.950429,emp,0.944037,O,0.940848,emp,0.953465,,...,,,,,,,,,,
2,NaN,O,0.897146,,,O,0.934507,emp,0.922059,,...,,,,,,,,,O,O
3,230409_193143,O,0.959755,emp,0.950188,O,0.913914,emp,0.951061,,...,,,,,,,,,,
4,NaN,O,0.957815,emp,0.935527,O,0.931705,emp,0.951684,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,NaN,X,0.935645,X,0.943139,X,0.919364,X,0.943915,X,...,,,,,,,,,,X
92,NaN,,,X,0.581321,X,0.927007,X,0.936904,X,...,,,,,,,,,X,X
93,230409_195859,X,0.951376,X,0.949017,X,0.929215,X,0.693429,,...,,,,,,,,,X,X
94,NaN,X,0.935033,X,0.944367,X,0.936190,X,0.9423,X,...,,,,,,,,,,X
95,NaN,,,,,X,0.920295,X,0.939865,,...,,,,,,,,,X,X

In [122]:
import os
import pandas as pd

df_lr['detect1'] = ''
df_lr['detect2'] = ''

for i in range(0, len(df_lr), 3):
    row1 = df_lr.iloc[i]
    row2 = df_lr.iloc[i+1]
    row3 = df_lr.iloc[i+2]

    for j, k in enumerate(['01_l']):
        values = [row1[k]]
        df_lr.at[i+2, 'detect1'] = values[0]
    
    for j, k in enumerate(['01_r']):
        values = [row1[k]]
        df_lr.at[i, 'detect1'] = values[0]
        
    for j, k in enumerate(['04_l']):
        values = [row2[k], row3[k]]
        o_count = values.count('O')
        x_count = values.count('X')
        emp_count = values.count('emp')
        if o_count == 0 and x_count == 0:
            df_lr.at[i+2, 'detect2'] = ''
        elif emp_count == 2:
            df_lr.at[i+2, 'detect2'] = ''
        elif o_count >= x_count:
            df_lr.at[i+2, 'detect2'] = 'O'
        else:
            df_lr.at[i+2, 'detect2'] = 'X'
            
    
    for j, k in enumerate(['04_r']):
        values = [row2[k], row3[k]]
        o_count = values.count('O')
        x_count = values.count('X')
        emp_count = values.count('emp')
        if o_count == 0 and x_count == 0:
            df_lr.at[i, 'detect2'] = ''
        elif emp_count == 2:
            df_lr.at[i, 'detect2'] = ''
        elif o_count >= x_count:
            df_lr.at[i, 'detect2'] = 'O'
        else:
            df_lr.at[i, 'detect2'] = 'X'
            
    
    for j, k in enumerate(['05_l', '05_r']):
        values_l = [row2['05_l'], row3['05_l']]
        values_r = [row2['05_r'], row3['05_r']]
        o_count_l = values_l.count('O') 
        x_count_l = values_l.count('X')
        emp_count_l = values_l.count('emp')
        o_count_r = values_r.count('O') 
        x_count_r = values_r.count('X')
        emp_count_r = values_r.count('emp')

        if o_count_l == 0 and x_count_l == 0:
            l_count = ''
        elif emp_count_l == 2:
            l_count = ''
        elif o_count_l >= x_count_l:
            l_count = 'O'
        else:
            l_count = 'X'

        if o_count_r == 0 and x_count_r == 0:
            r_count = ''
        elif emp_count_r == 2:
            r_count = ''
        elif o_count_r >= x_count_r:
            r_count = 'O'
        else:
            r_count = 'X'

        if l_count == r_count:
            df_lr.at[i+1, 'detect2'] = l_count
        elif l_count == '' and r_count == '':
            df_lr.at[i+1, 'detect2'] = ''
        elif l_count == 'O' and r_count == 'X':
            df_lr.at[i+1, 'detect2'] = 'O'
        elif l_count == 'X' and r_count == 'O':
            df_lr.at[i+1, 'detect2'] = 'O'
        else:
            df_lr.at[i+1, 'detect2'] = 'X'
            
    for j, k in enumerate(['06_l', '06_r']):
        values = [row2[k], row3[k]]
        if 'p6' in values:
            df_lr.at[i+1, 'detect2'] = ''
            
replace_map = {'emp' : ''}
df_lr['detect1'].replace(replace_map, inplace=True)
df_lr['detect2'].replace(replace_map, inplace=True)

df_lr.to_csv(folder_path + '/Assesment_datasheet.csv',index=False)

In [ ]:
import os
import pandas as pd

folder_path = "C:/Users/GnTRnD/Desktop/temp_file/k-city_testset/set_17/labels"

output_file = folder_path + '/0.class_file.csv'

# Update the column names to include "_conf" suffix
# Update the columns list
columns = []
for i in range(12):
    columns.append(str(i))
    columns.append(str(i) + '_conf')
    
clumns = ['']

columns = ['filename'] + columns


df = pd.DataFrame(columns=columns)

for filename in os.listdir(folder_path):
    if filename.endswith('.txt'):
        try:
            # Extract the file information
            file_data = []
            with open(os.path.join(folder_path, filename), 'r') as file:
                for line in file:
                    values = line.split()
                    class_number = int(values[0])
                    confidence = float(values[5])
                    file_data.append((class_number, confidence))

            # Create a row for the dataframe
            row = [filename] + [''] * (len(columns) - 1)
            for class_number, confidence in file_data:
                # Add class number and confidence to the row
                class_col_idx = columns.index(str(class_number))
                conf_col_idx = columns.index(str(class_number) + '_conf')
                row[class_col_idx] = class_number
                row[conf_col_idx] = confidence
            df = df.append(pd.DataFrame([row], columns=columns), ignore_index=True)
            
        except PermissionError:
            print(f"Permission denied: {filename}")

replace_map = {2: 'X', 3: 'O', 4: 'X', 5: 'O', 6: 'X',7: 'O', 8: 'emp', 9: 'emp', 11:'p6'}
df.replace(replace_map, inplace=True)

# Save the dataframe to a CSV file
df.to_csv(output_file, index=False)