In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import lxml

URL = "http://data.ex.co.kr/openapi/restinfo/hiwaySvarInfoList?key=6958898588&type=xml"

# API로 데이터 불러오기
rq = requests.get(URL)
soup = BeautifulSoup(rq.text, "xml")
    
gate_List = []

for item in soup.find_all("list"):
    svarNm = item.find("svarNm").text
    svarGsstClssNm = item.find("svarGsstClssNm").text
    svarGsstClssCd = item.find("svarGsstClssCd").text
    svarCd = item.find("svarCd").text
    svarAddr = item.find("svarAddr").text
    rprsTelNo = item.find("rprsTelNo").text
    routeNm = item.find("routeNm").text
    routeCd = item.find("routeCd").text
    pstnoCd = item.find("pstnoCd").text
    mtnofNm = item.find("mtnofNm").text
    mtnofCd = item.find("mtnofCd").text
    hdqrNm = item.find("hdqrNm").text
    hdqrCd = item.find("hdqrCd").text
    gate_List.append([svarNm, svarGsstClssNm, svarGsstClssCd, svarCd, rprsTelNo, routeNm,
                                                routeCd, pstnoCd, mtnofNm, mtnofCd, hdqrNm, hdqrCd])
        
rest = pd.DataFrame(gate_List, columns= ["svarNm", "svarGsstClssNm", "svarGsstClssCd", "svarCd", "rprsTelNo", "routeNm",
                                                "routeCd", "pstnoCd", "mtnofNm", "mtnofCd", "hdqrNm", "hdqrCd"])

rest.head()

,svarNm,svarGsstClssNm,svarGsstClssCd,svarCd,rprsTelNo,routeNm,routeCd,pstnoCd,mtnofNm,mtnofCd,hdqrNm,hdqrCd
0,건천(부산)주유소,주유소,1,000485,0547514600,경부선,0010,780900,대구,610200,대구경북본부,600000
1,건천(부산)휴게소,휴게소,0,000054,0547516890,경부선,0010,780900,대구,610200,대구경북본부,600000
2,건천(서울)주유소,주유소,1,000053,0547518256,경부선,0010,780900,대구,610200,대구경북본부,600000
3,건천(서울)휴게소,휴게소,0,000052,0547517401,경부선,0010,780900,대구,610200,대구경북본부,600000
4,검단졸음쉼터(부산),휴게소,0,000453,0530000000,경부선,0010,702801,대구,610200,대구경북본부,600000

In [3]:
rest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   svarNm          578 non-null    object
 1   svarGsstClssNm  578 non-null    object
 2   svarGsstClssCd  578 non-null    object
 3   svarCd          578 non-null    object
 4   rprsTelNo       578 non-null    object
 5   routeNm         578 non-null    object
 6   routeCd         578 non-null    object
 7   pstnoCd         578 non-null    object
 8   mtnofNm         578 non-null    object
 9   mtnofCd         578 non-null    object
 10  hdqrNm          578 non-null    object
 11  hdqrCd          578 non-null    object
dtypes: object(12)
memory usage: 54.3+ KB

In [6]:
resting = rest[rest['svarGsstClssNm'] == "휴게소"]
resting

,svarNm,svarGsstClssNm,svarGsstClssCd,svarCd,rprsTelNo,routeNm,routeCd,pstnoCd,mtnofNm,mtnofCd,hdqrNm,hdqrCd
1,건천(부산)휴게소,휴게소,0,000054,0547516890,경부선,0010,780900,대구,610200,대구경북본부,600000
3,건천(서울)휴게소,휴게소,0,000052,0547517401,경부선,0010,780900,대구,610200,대구경북본부,600000
4,검단졸음쉼터(부산),휴게소,0,000453,0530000000,경부선,0010,702801,대구,610200,대구경북본부,600000
5,검단졸음쉼터(서울),휴게소,0,000452,0530000000,경부선,0010,702800,대구,610200,대구경북본부,600000
7,경산(서울)휴게소,휴게소,0,000048,0538525243,경부선,0010,712830,대구,610200,대구경북본부,600000
...,...,...,...,...,...,...,...,...,...,...,...,...
570,주암(순천)휴게소,휴게소,0,000134,0617544988,호남선,0251,540840,순천,510300,광주전남본부,500000
572,주암(천안)휴게소,휴게소,0,000135,0617542229,호남선,0251,540841,순천,510300,광주전남본부,500000
574,벌곡(논산)휴게소,휴게소,0,000240,0417327694,호남선의 지선,2510,320880,논산,810400,전북본부,800000
576,벌곡(대전)휴게소,휴게소,0,000238,0417345250,호남선의 지선,2510,320883,논산,810400,전북본부,800000
577,북대전(논산)졸음쉼터,휴게소,0,000561,0420000000,호남선의 지선,2510,30535,대전,410200,대전충남본부,400000

In [7]:
resting[resting.duplicated()] #중복값없음

Empty DataFrame
Columns: [svarNm, svarGsstClssNm, svarGsstClssCd, svarCd, rprsTelNo, routeNm, routeCd, pstnoCd, mtnofNm, mtnofCd, hdqrNm, hdqrCd]
Index: []

In [8]:
resting.to_csv("results/rest_area.csv", index = False)