In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import lxml

URL = "http://data.ex.co.kr/openapi/basicinfo/unitList?key=6958898588&type=xml&numOfRows=99&pageNo=5"

# API로 데이터 불러오기
rq = requests.get(URL)
soup = BeautifulSoup(rq.text, "xml")
    
gate_List = []

for item in soup.find_all("unitLists"):
    exDivCode = item.find("exDivCode").text
    exDivName = item.find("exDivName").text
    openClName = item.find("openClName").text
    openClType = item.find("openClType").text
    unitCode = item.find("unitCode").text
    unitName = item.find("unitName").text
    gate_List.append([exDivCode, exDivName, openClName, openClType, unitCode, unitName])
        
toll_gate_01 = pd.DataFrame(gate_List, columns= ["exDivCode", "exDivName", "openClName", "openClType", "unitCode", "unitName"])

toll_gate_01.head()

  exDivCode exDivName openClName openClType unitCode unitName
0        00        도공         폐쇄          0      741     평택고덕
1        00        도공         폐쇄          0      742     남사진위
2        00        도공         폐쇄          0      746   기장일광입구
3        00        도공         폐쇄          0      747       범서
4        00        도공         폐쇄          0      748    동청송영양

In [13]:
toll_gate_01.to_csv("dataset/toll_gate_05.csv", index = False)

In [19]:
toll_gate_01 = pd.read_csv("dataset/toll_gate_01.csv", header = 0)
toll_gate_02 = pd.read_csv("dataset/toll_gate_02.csv", header = 0)
toll_gate_03 = pd.read_csv("dataset/toll_gate_03.csv", header = 0)
toll_gate_04 = pd.read_csv("dataset/toll_gate_04.csv", header = 0)
toll_gate_05 = pd.read_csv("dataset/toll_gate_05.csv", header = 0)

In [20]:
toll_gate = pd.concat([toll_gate_01, toll_gate_02, toll_gate_03, toll_gate_04, toll_gate_05])

In [22]:
toll_gate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 437 entries, 0 to 40
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   exDivCode   437 non-null    int64
 1   exDivName   437 non-null    object
 2   openClName  437 non-null    object
 3   openClType  437 non-null    int64
 4   unitCode    437 non-null    int64
 5   unitName    437 non-null    object
dtypes: int64(3), object(3)
memory usage: 23.9+ KB

In [23]:
toll_gate[toll_gate.duplicated()] #중복값없음

Empty DataFrame
Columns: [exDivCode, exDivName, openClName, openClType, unitCode, unitName]
Index: []

In [26]:
toll_gate.to_csv("results/gate_LIst.csv", index = False)